<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- assign body_class = page.permalink | default: page.url | replace: '/', ' ' | strip -%}
  {%- if body_class == "" -%}{%- assign body_class = "home" -%}{%- endif -%}
  <body class="page page--{{ body_class | replace: ' ', '-' }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
